body {
    color: rgba(78, 0, 255, 0.37);
}

blockquote {
    background-color: royalblue;
}

#hw5 {
    color: green;
    border: 1px solid green;
    text-align: center;
    letter-spacing: 01m;
    line-height: 0em;
}
